pay_commands: list[dict[str, str | int]] = [
    {
        'name': '#mouseoff',
        'price': 50,
        'command': 'mouseoff_task.py',
    },
    {
        'name': '#copy',
        'price': 50,
        'command': 'copyoff.py',
    },
]
